.circle-wrap {
  text-align: center;
  margin-bottom: 20px;
  opacity: 1;
  .stats-circle {
    width: 100px;
    height: 100px;
    border-radius: 70px;

    display: inline-block;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 1px 0 1px #fff, inset 0 0 3px rgba(0, 0, 0, 0.2);
    svg {
      display: inline-block;
      font-size: 3.5em;
      margin-top: 26px;
      text-shadow: 1px 1px 1px #999;
      opacity: 0.6;
      transition: all 0.5s ease-in-out;
    }
    &:hover svg{
        transform: rotate(1turn);
        color: #fff;
        opacity: 1
}
  }
  p {
    font-size: 13px;
    margin: 0;
}
}
