.navigation {
  position: fixed;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1039;
}
.nav_sort{
  position: fixed;
  width: 70px !important;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1039;
  @media screen and (max-width:800px) {
    width: 0px !important;
   
  }
}
.navigation.active {
  width: 80px;
}
.main {
  position: absolute;
    width: calc(100% - 210px);
    left: 215px;
    min-height: 100vh;
    transition: 0.5s;
    padding: 10px 14px;
    box-shadow: 0 0 10px #757575;

  @media screen and (max-width:800px) {
    width: 100%;
    left: 0px;
    border:6px solid #00bcd4
  }

}

.main_active{
  left: 25px;
  width: calc(100% - 25px);
  @media screen and (max-width: 760px) {
    left: 0px;
    width: 100%;
  }
}

.hidden-desk{
  display: none;
}

@media screen and (max-width: 760px) {
  .hidden-phone{
    display: none !important;
  }
  .hidden-desk{
    display: block !important;
  }
}



.sidebar-menu .sub {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.sidebar-menu .sub.open {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}


.table>:not(caption)>*>* {
  background-color: transparent;
  border-bottom-width: unset !important;
  box-shadow: unset !important;
}

.table_jmd11{
  td, th{
    padding: 6px 10px !important;
  }
}